@model IEnumerable<ContratacionEmpleados.Models.ViewModels.ListarEmpleado_VM>

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Nuevo", "Crear")
</p>


<table class="table" id="table_id">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoPersonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailPersonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSangre)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @if (item.Genero == 1)
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TelefonoPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre)
            </td>


            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdEmpleado })
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdEmpleado })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    

}
